# Credenciales y tokens
credentials.json
token.json
.env

# Python
__pycache__/
*.py[cod]

# Entornos virtuales
venv/
.venv/
env/

# Streamlit
.streamlit/secrets.toml

# Archivos del sistema
.DS_Store
Thumbs.db